        body{
            background-color: white;
        }
        #header {
            background-color: white;
            color: white;
            text-align: center;
            height: 40px;
            color: black;
        }
        #h1{ 
            color: white;
            text-align: center;
            font-size:100px;

        }
        #h2{ color: darkgoldenrod;
        }
        #p1{ color: lightblue;
        }